body {
    margin: 25px;
}
#box {
    background-color: #CCCC99;
    width: 500px;
    margin: 25px;
    padding: 25px;
    border: 5px solid;
    position: absolute;
    left: 150px;
    top: 100px
    
}
#box2{
    background-color: #218747;
    width: 500px;
    margin: 25px;
    padding: 25px;
    border: 5px solid;
    position: absolute;
    left: 100px;
    top: 150px;
    
}